<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhbmUDBEBdMbcvZaU4uVWbTFCEyS2lUkw</string>
	<key>GCM_SENDER_ID</key>
	<string>419715655793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skripsi</string>
	<key>PROJECT_ID</key>
	<string>skripsi-30246</string>
	<key>STORAGE_BUCKET</key>
	<string>skripsi-30246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419715655793:ios:84fcbe4c8d3bc96432d3d0</string>
</dict>
</plist>